@font-face {
    font-family: 'fellows'; /* Nombre de la fuente que asignarás */
    src: url('fellows.ttf' ) format('truetype')
    /* Puedes agregar más formatos si tienes disponibles (TTF, OTF, EOT, etc.) */
  }
  
  body{
    background-color: #e5e5e5;
  }
  
  #titulo{
    font-size: 60px;
    text-align: center;
    color: #003e77;
    font-family: 'fellows';
    }  
    
  
  
  #formulario {
    padding: 20px;
    background: rgb(255, 255, 255);
    color: #000000;
    box-shadow:
    0 0 10px rgba(0, 0, 0, 0.0), /* Sombra interna */
    0 0 20px rgba(0, 0, 0, 0.0), /* Sombra intermedia */
    0 0 40px rgb(173, 173, 173, 1); /* Sombra exterior */;
  
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    height: auto;
  }
  
  .back-button {
    margin-left: 10px; /* Espacio a la izquierda del botón */
    background-color: #007bff; /* Color de fondo del botón */
    color: #fff; /* Color del texto del botón */
    border: none; /* Sin borde */
    border-radius: 5px; /* Borde redondeado */
    padding: 10px 20px; /* Espaciado interno del botón */
    cursor: pointer; /* Cambia el cursor al pasar el ratón */
  }
  
  .registrar-button {
    margin-right: 0.1cm; /* Margen a la derecha de 1 cm */
  }
  
  #boton_volver {
    margin-bottom: 10px;
  }
  
 
  #enviar {
    color: #ffffff;
    background-color: #0076bc;
  }
  #postular {
    color: #ffffff;
    background-color: #0076bc;
  }
  
  /* Cambios de estilo para la columna nom_oferta */
.nombre-oferta {
  background-color: #0076bc; /* Fondo de color rojo */
  color: white; /* Texto en color blanco */
  font-weight: bold; /* Texto en negrita */
  width: 200px;
}


.fecha-oferta {
  background-color: #0076bc; /* Fondo de color rojo */
  color: white; /* Texto en color blanco */
  width: 130px;
}

  
/* Estilo para el cuadro de búsqueda */
.dataTables_filter input[type="search"] {
  background-color: #f5f5f5; /* Cambia el fondo del cuadro de búsqueda */
  border: 1px solid #ccc; /* Añade un borde al cuadro de búsqueda */
  border-radius: 5px; /* Redondea las esquinas */
  padding: 5px; /* Añade espacio interno */
  color: #333; /* Cambia el color del texto */
}

/* Estilo para el botón de búsqueda */
.dataTables_filter label::after {
  content: "\f002"; /* Utiliza el icono de lupa FontAwesome (puedes cambiarlo) */
  font-family: FontAwesome;
  font-size: 12px;
  color: #333; /* Cambia el color del icono */
  padding-left: 5px; /* Añade espacio a la izquierda del icono */
}

/* Estilo para el botón "Limpiar" (si está habilitado) */
.dataTables_filter label::before {
  content: "\f00d"; /* Utiliza el icono de cruz FontAwesome (puedes cambiarlo) */
  font-family: FontAwesome;
  font-size: 12px;
  color: #333; /* Cambia el color del icono */
  padding-right: 5px; /* Añade espacio a la derecha del icono */
}


/* Agrega un margen derecho al campo de búsqueda */
.dataTables_filter label input[type="search"] {
  margin-top: 10px; /* Puedes ajustar la cantidad de margen según tus preferencias */
}

/* Cambia el fondo del recuadro de búsqueda */
.dataTables_filter {
  margin-top: 10px;
  background-color: #003e77; /* Cambia #FFA500 al color que desees */
  padding: 10px; /* Ajusta el espaciado interior según tus preferencias */
  border-radius: 5px; /* Agrega bordes redondeados si lo deseas */
}

/* Cambia el color del texto del filtro */
.dataTables_filter label {
  font-weight: bold;
  color: #ffffff; /* Cambia el color del texto según tus preferencias */
  text-align: right;
}


/* Cambia el color de los iconos "Limpiar" en los filtros de búsqueda a blanco */
.dataTables_filter label::after {
  color: #fff; /* Cambia #fff al color blanco que desees */
}

/* Oculta el icono "X" en el campo de búsqueda del filtro */
.dataTables_filter label::before {
  display: none;
}

/* Cambia el fondo de las cabeceras de las columnas */
.dataTables thead th {
  background-color: #003e77; /* Reemplaza "your-color" con el color deseado */
  color: #fff; /* Cambia el color del texto de las cabeceras */
  padding: 10px; /* Añade relleno para que el color de fondo sea más visible */
}

.table thead th {
  background-color: #003e77; /* Reemplaza "your-color" con el color deseado */
  color: #fff; /* Cambia el color del texto de las cabeceras */
  padding: 10px; /* Añade relleno para que el color de fondo sea más visible */
  font-weight: normal;
}
.dataTables_filter {
  margin-top: 10px;
  background-color: #003e77;
  padding: 10px;
  border-radius: 5px;
  text-align: right;
}

#boton_nueva {
  margin-bottom: 10px;
  color: #ffffff;
  background-color: #0076bc;
}



.form-group-inline {
  display: flex;
  align-items: center; /* Alinea verticalmente los elementos */
  padding-bottom: 13px;
}

.form-group-inline label {
  margin-right: 5px; /* Ajusta el margen entre los elementos según tus preferencias */
}

#dv_usuario{
  max-width: 35px;
}
#rut_usuario{
  max-width: 100px;
  margin-left: 10px;
}
#fecha_formulario{
  max-width: 110px;
}

#guion{
  margin: 10px;
}
#nombre, #segundo_nombre, #primer_apellido, #segundo_apellido, #fecha_formulario{
  margin-left: 10px;
}

.destacado {
  font-weight: bold; /* Hace que el texto sea negrita */
}