@font-face {
  font-family: 'fellows'; /* Nombre de la fuente que asignarás */
  src: url('fellows.ttf' ) format('truetype')
  /* Puedes agregar más formatos si tienes disponibles (TTF, OTF, EOT, etc.) */
}

body{
  background-color: #e5e5e5;
}

#titulo{
  font-size: 90px;
  text-align: center;
  color: #003e77;
  font-family: 'fellows';
  }

  @import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");

/* #formulario {
  background: rgb(255, 255, 255);
  color: #000000;
  box-shadow:
  0 0 10px rgba(0, 0, 0, 0.0),
  0 0 20px rgba(0, 0, 0, 0.0),
  0 0 40px rgb(173, 173, 173, 1);

  -moz-border-radius: 5px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  height: 500px;
}

.back-button {
  margin-left: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.registrar-button {
  margin-right: 0.1cm;
}

#izq {
  background-color: #003e77;
  border-radius: 10px 0px 0px 10px;
}

#row {
  margin-top: 10px;
}

#logoLogin {
  padding: 30px;
  width: 500px;
  height: 500px;
} */