{% extends 'layout.html' %}
<!-- Como se muestra arriba es como se carga parte del codigo, en esta hoja solo se trabajaria el body -->

{% load static %}

{% block content %}




<!-- <div id= "titulo">
    <h1>
    Nueva oferta
    </h1>
</div> -->

<!-- <div class="container">
    <a href="#" class="btn btn-danger">Volver</a>
</div> -->


<div class="container-fluid">
    <div name="registration" id="formulario"> 
        <div class="row" id="row">
            <div class="col-md-6" id="izq">
                <h1 id="tituloLogin">¡Bienvenid@!</h1>
                    <img src="{% static 'imagenes/ClusterHire5.png' %}" alt="" id="logoLogin">
            </div>
            <form action="" method="POST" name="registration" id="formulario"> 
                {% csrf_token %}
                    <img src="{% static 'imagenes/ClusterHire.png' %}" alt="" id="logoLogin2">
                <div class="form-group" id="login"> 
                    <h1 id="tituloForm"><b>¡Bienvenid@!</b></h1>
                    <input type="text" class="form-control" name="username" id="username" placeholder="Usuario" required>
                    <input type="password" class="form-control" name="password" id="password" placeholder="Contraseña" required>
                    <div id="a">
                        <a href="{% url 'password-reset' %}" id="recuperarPw"><u>Recuperar contraseña</u></a>
                    </div>
                    <button class="btn btn-primary registrar-button" type="submit" id="btnRegistrar">REGISTRARSE</button>
                    <button class="btn btn-primary registrar-button" type="submit" id="btnEntrar">INICIAR SESIÓN</button>
                </div>
            </form>
        </div>
    </div>  
</div>

<!-- <div class="row">
    <div class="col-12 col-md-6 offset-md-3">
        <div class="card">
            <div class="card-body">
                <h1><b>¡Bienvenid@!</b></h1>
                <form action="" class="login-form" method="POST">

                    {% csrf_token %}
                    {{ form.non_field_errors }}

                    <div class="form-group">
                        <label for="{{ form.email.id_for_label }}">Email</label>
                        {{ form.email }}
                    </div>
                    <div class="form-group">
                        <label for="{{ form.password.id_for_label }}">Contraseña</label>
                        {{ form.password }}
                    </div>
            
                    <br>
                    <button class="btn btn-primary registrar-button" type="submit">REGISTRARSE</button>
                    <button class="btn btn-primary registrar-button" type="submit">INICIAR SESIÓN</button>
                </form>
            </div>
        </div>
    </div>
</div> -->


<br>
  
{% endblock %}