{% extends 'layout.html' %}
<!-- Como se muestra arriba es como se carga parte del codigo, en esta hoja solo se trabajaria el body -->

{% load static %}

{% block content %}

<div class="container-fluid">
    <div name="registration" id="registro">
        <div class="row" id="row">
            <div class="col-md-6" id="izq">
                <img src="{% static 'imagenes/ClusterHire5.png' %}" alt="" id="logoLoginReg">
            </div>
            <form action="" method="post" class="form-login" id="formulario">
                {% csrf_token %}
                <img src="{% static 'imagenes/ClusterHire.png' %}" alt="" id="logoLogin2">
                <div class="form-group" id="registro">
                    <h1 id="tituloLogin"><b>Registro</b></h1>
                    <!-- {{ form }} -->

                    <div class="form-group">
                        <label for="id_username" id="label_registro">Nombre de Usuario:</label>
                        <input type="text" class="form-control" name="username" maxlength="150" autofocus
                            id="id_username">
                        <span class="helptext" id="label_registro">Requerido. 150 caracteres o menos. Solo letras,
                            dígitos y
                            @/./+/-/_.</span>
                    </div>

                    <div class="form-group">
                        <label for="id_first_name" id="label_registro">Primer Nombre:</label>
                        <input type="text" class="form-control" name="first_name" maxlength="150" id="id_first_name">
                    </div>

                    <div class="form-group">
                        <label for="id_last_name" id="label_registro">Apellido:</label>
                        <input type="text" class="form-control" name="last_name" maxlength="150" id="id_last_name">
                    </div>

                    <div class="form-group">
                        <label for="id_email" id="label_registro">Correo Electronico:</label>
                        <input type="email" class="form-control" name="email" maxlength="254" id="id_email">
                    </div>


                    <div class="form-group">
                        <label for="id_password1" id="label_registro">Contraseña:</label>
                        <input type="password" class="form-control" name="password1" autocomplete="new-password"
                             id="id_password1">
                        <br>
                        <span class="helptext">
                            <ul>
                                <li>Tu contraseña no puede ser demasiado similar a otra información personal tuya.</li>
                                <li>Tu contraseña debe contener al menos 8 caracteres.</li>
                                <li>Tu contraseña no puede ser una contraseña comúnmente utilizada.</li>
                                <li>Tu contraseña no puede ser completamente numérica.</li>
                            </ul>
                        </span>
                    </div>

                    <div class="form-group">
                        <label for="id_password2" id="label_registro">Confirmación de Contraseña:</label>
                        <input type="password" class="form-control" name="password2" autocomplete="new-password"
                             id="id_password2">
                        <br>
                        <span class="helptext" id="label_registro">Requerido. Ingresa la misma contraseña que digitaste anteriormente.</span>
                    </div>

                    <button class="btn btn-primary registrar-button" type="submit" id="btnRegistrarse">REGISTRARSE</button>
                    <!-- <button class="btn btn-primary registrar-button" type="submit" id="btnEntrar">INICIAR SESIÓN</button> -->
                </div>
            </form>
        </div>
    </div>
</div>

<br>
<br>
<br>
<br>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"
    integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="{% static 'js/validacionRegistro.js' %}"></script>

{% endblock %}