<!-- Tu plantilla de Django -->
{% extends 'layout3.html' %}
{% load static %}

{% block content %}


<br>

<div class="container-fluid">
    <div id="titulo">    
        <h1><strong>{{ nom_oferta|upper }}</strong></h1>    
    </div>
    <script>
        // Obtén el elemento h1 dentro del div con id "titulo"
        var h1Element = document.querySelector('#titulo h1');
        // Obtiene el contenido de {{ nom_oferta }}
        var nomOferta = h1Element.textContent;
        // Convierte el texto a mayúsculas
        nomOferta = nomOferta.toUpperCase();
        // Reemplaza los guiones "-" por espacios
        nomOferta = nomOferta.replace(/-/g, ' ');
        // Asigna el texto modificado de vuelta al elemento h1
        h1Element.textContent = nomOferta;
    </script>

    <div class="d-flex justify-content-between align-items-center">
        <a href="{% url 'ofertas_admin' %}" class="btn btn-danger" id="boton_volver"><i class="fa-solid fa-left-long"></i></a>

        <form id="exportarForm" action="{% url 'read_csv' id_oferta=id_oferta %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-success">Analizar datos</button>
        </form>        
    </div>
      
    
    <br>   
    

    <div class="card" >
        <br>
        <div id="titulo">
            <h3>
                Postulantes más recomendados
            </h3>
        </div>
        <div class="table-responsive-lg">
            <table class="dataframe table table-reponsive-md miTabla">      
                <tr>
                    <th></th>
                    <th>ID Usuario</th>
                    <th>Nombre</th>
                    <th>Primer Apellido</th>
                    <th>Nombre oferta</th>
                    <th>ID Oferta</th>
                    <th>Años de experiencia</th>
                </tr>
                {% for _, row in df_filtrado.iterrows %}
                    <tr>
                        <td><a href="{% url 'perfil_admin' id_usuario=row.ID_USUARIO|floatformat:0 id_oferta=id_oferta %}" id="ver" class="btn btn-custom"><i class="fa-solid fa-user"></i></a></td>
                        <td>{{ row.ID_USUARIO }}</td>
                        <td>{{ row.NOMBRE|title }}</td>
                        <td>{{ row.PRIMER_APELLIDO|title }}</td>
                        <td>{{ row.NOM_OFERTA|title }}</td>
                        <td>{{ row.ID_OFERTA }}</td>
                        <td>{{ row.ANHOS_EXPERIENCIA_USER }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    <br>

    <div class="card">
        <br>
        <div id="titulo">
            <h3>
                Postulantes menos recomendados
            </h3>
        </div>
        <div class="table-responsive-lg">
            <table class="dataframe table table-reponsive-md miTabla">
                <tr>
                    <th></th>
                    <th>ID Usuario</th>
                    <th>Nombre</th>
                    <th>Primer Apellido</th>
                    <th>Nombre oferta</th>
                    <th>ID Oferta</th>
                    <th>Años de experiencia</th>
                </tr>
                {% for _, row in df_filtrado2.iterrows %}
                    <tr>
                        <td><a href="{% url 'perfil_admin' id_usuario=row.ID_USUARIO|floatformat:0 id_oferta=id_oferta %}" id="ver" class="btn btn-custom"><i class="fa-solid fa-user"></i></a></td>
                        <td>{{ row.ID_USUARIO }}</td>
                        <td>{{ row.NOMBRE|title }}</td>
                        <td>{{ row.PRIMER_APELLIDO|title }}</td>
                        <td>{{ row.NOM_OFERTA|title }}</td>
                        <td>{{ row.ID_OFERTA }}</td>
                        <td>{{ row.ANHOS_EXPERIENCIA_USER }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
<br>

{% endblock %}

{% block scripts %}
    <script>
        // Agregar un escuchador de eventos al formulario
        document.getElementById('exportarForm').addEventListener('submit', function () {
            // Redirigir a la vista que procesará la exportación de CSV y guardará el archivo
            window.location.href = "{% url 'exportar_y_guardar_csv' %}";
        });
    </script>
{% endblock %}