{% extends 'layout2.html' %}
<!-- Como se muestra arriba es como se carga parte del codigo, en esta hoja solo se trabajaria el body -->

{% load static %}

{% block content %}
<br>

<div id= "titulo">
    <h1>Nueva oferta</h1>
</div>

<br>

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <a href="{% url 'ofertas_admin' %}"  class="btn btn-danger" id="boton_volver">Volver</a> <!-- Botón de retroceso -->

            <form method="POST" action="" id="formulario">

                {% csrf_token %}               
                <div class="form-group"> <!-- Agregar la clase text-center para centrar el contenido -->
                    <label for="nom_oferta">Nombre de la oferta</label>
                    <input type="text" class="form-control" name="nom_oferta" id="nom_oferta" required  placeholder="Ing. Informatico">
                </div>
         
                <div class="form-group"> <!-- Centrar el contenido -->                    
                    <label for="fecha_oferta">Fecha</label>
                    <input type="text" class="form-control" name="fecha_oferta" id="fecha_oferta" required pattern="\d{4}-\d{2}-\d{2}" placeholder="Ejemplo: 2023-12-30">                
                </div> 

                <div class="form-group"> <!-- Agregar la clase text-center para centrar el contenido -->
                    <label for="anhos_experiencia">Años de experiencia</label>
                    <input type="number" class="form-control" name="anhos_experiencia" id="anhos_experiencia" required  placeholder="2">
                </div>    

                <div class="form-group">
                    <label for="{{ form.fk_id_tipo_cargo.id_for_label }}">Cargo</label>
                    {{ form.fk_id_tipo_cargo}}
                </div>  

                <div class="form-group">
                    <label for="{{ form.fk_id_modalidad.id_for_label }}">Modalidad</label>
                    {{ form.fk_id_modalidad }}
                </div>     

                <div class="form-group">
                    <label for="{{ form.fk_id_comuna.id_for_label }}">Comuna</label>
                    {{ form.fk_id_comuna }}
                </div>           

                <!-- Botón a la derecha con margen -->
                <div class="row">
                    <div class="col">
                        <!-- Columna vacía para empujar el botón hacia la derecha -->
                    </div>
                    <div class="col-auto">
                        <input type="submit" class="btn btn-custom" id="enviar" value="Ingresar" >
                    </div>
                </div>
                                        
            </form>             
        </div>
    </div>
</div>





<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="{% static 'js/validacionFormulario.js' %}"></script>
{% endblock %}