{% extends 'layout2.html' %}
<!-- Como se muestra arriba es como se carga parte del codigo, en esta hoja solo se trabajaria el body -->

{% load static %}

{% block content %}
<br> 



<div id= "titulo">
    <h1>
    Nueva oferta
    </h1>
</div>

<div class="container">
    <a href="{% url 'ofertas_admin' %}" class="btn btn-danger">Volver</a> <!-- Botón de retroceso -->
</div>

<br>

<div class="container-fluid">
    <form name="registration" id="formulario"> 
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">            
                    <label for="nombre_oferta">Nombre de la oferta</label>
                    <input type="text" class="form-control" name="nombre_oferta" id="nombre_oferta" required  placeholder="Ing. Informatico">
                </div>

                <div class="form-group">            
                    <label for="nombre_oferta">Fecha</label>
                    <input type="date" class="form-control" name="nombre_oferta" id="nombre_oferta" required>
                </div>

                <div class="form-group">            
                    <label for="descripcion_oferta">Descripción</label>
                    <textarea class="form-control" name="descripcion_oferta" id="descripcion_oferta" required placeholder="Ingrese una descripción"></textarea>
                </div>
            </div>
        </div>      

    <p></p>

        <!-- Botón a la derecha con margen -->
        <div class="row">
            <div class="col">
                <!-- Columna vacía para empujar el botón hacia la derecha -->
            </div>
            <div class="col-auto">
                <button class="btn btn-primary registrar-button" type="submit">Registrar oferta</button>
            </div>
        </div> 
    </form>  
</div>



  
{% endblock %}