{% extends 'layout3.html' %}
<!-- Como se muestra arriba es como se carga parte del codigo, en esta hoja solo se trabajaria el body -->

{% load static %}

{% block content %}



<br> 



<div id= "titulo">
    <h1>
    Ofertas disponibles
    </h1>
</div>


<br>

<div class="container-fluid">
    <div class="card">
        <div class="container-md">

            <table id="datatable" class="table table-striped">
                <thead>
                    <tr>
                        <th data-sortable="true">
                            Nombre de la oferta
                            <i class="fas fa-sort"></i> <!-- Ícono de orden ascendente por defecto -->            
                        </th> 
                                           
                        <th data-sortable="true">
                            Cargo
                            <i class="fas fa-sort"></i> <!-- Ícono de orden ascendente por defecto --> 
                        </th> <!-- Habilita ordenamiento -->
                        
                        <th data-searchable="true">
                            Fecha
                            <i class="fas fa-sort"></i> <!-- Ícono de orden ascendente por defecto --> 
                        </th> <!-- Habilita búsqueda -->

                        <th data-searchable="true">
                            Descripción
                            <i class="fas fa-sort"></i> <!-- Ícono de orden ascendente por defecto --> 
                        </th> <!-- Habilita búsqueda -->

                        <th></th> <!-- Agregamos una columna para las acciones -->
                    </tr>
                </thead>
                <tbody>   
                {% for ofe in ofertas%}
                <tr>
                    <td class="nombre-oferta">{{ ofe.nom_oferta }}</td>
                    <td>{{ ofe.fk_id_tipo_cargo.nom_cargo }}</td>
                    <td class="fecha-oferta">{{ ofe.fecha_oferta }}</td>
                    <td>
                        <p><span class="destacado">Años de experiencia:</span> {{ ofe.anhos_experiencia }} <span> años</span> </p>
                        <p><span class="destacado">Modalidad:</span> {{ ofe.fk_id_modalidad.nom_modalidad }}</p>
                        <p><span class="destacado">Comuna:</span> {{ ofe.fk_id_comuna.nom_comuna }}</p>
                        <p>
                            <span class="destacado">Competencias: </span>
                            <ul>
                                {% for competenciaoferta in ofe.competenciaoferta_set.all %}
                                <li>{{ competenciaoferta.fk_id_competencia.nombre_competencia }}</li>
                                {% endfor %}
                            </ul>
                        </p>                                                       
                    </td>
                    
                    <td>
                        <a href="{% url 'formulario' ofe.id_oferta ofe.nom_oferta|slugify %}" id="postular" class="btn btn-custom">Postular</a>
                    </td> 
                    
                                       
                </tr>
                {% endfor %}
            </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Coloca el código JavaScript al final de tu contenido -->

<script src="{% static 'js/filtro_ofertas.js' %}"></script>



{% endblock %}