{% extends 'layout2.html' %}
<!-- Como se muestra arriba es como se carga parte del codigo, en esta hoja solo se trabajaria el body -->

{% load static %}

{% block content %}
<br> 



<div id= "titulo">
    <h1>
    Ofertas
    </h1>
</div>


<br>

<div class="container-fluid">
    <a href="{% url 'nueva_oferta' %}" class="btn btn-primary" id="boton_nueva">Nueva oferta</a> <!-- agregar nueva oferta -->

    <div class="card">
        <div class="container-md">
            <table id="datatable" class="table table-striped ">
            <thead>
                <tr>
                    <th>Nombre de la oferta</th>
                    <th>Descripción</th>
                    <th>Fecha</th>
                    <th>Postulantes</th>
                </tr>
            </thead>
            <tbody>    
                {% for p in programas%}
                <tr>
                    <td>{{ p.nom_oferta}}</td>
                    <td>{{ p.descripcion_oferta }}</td>
                    <td>{{ p.fecha_oferta}}</td>
                    <td>{{ p.conteo}}</td>
                    <td>                        
                        <a href="{% url 'modificar_programa' p.idPrograma %}">
                            <button type="button" class="btn btn-primary">Ver</button>
                        </a>
                    
                        <a href="#" onclick="confirmarEliminacion({{p.idPrograma}})">
                            <button type="button" class="btn btn-danger">Eliminar  </button>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
            </table>
        </div>
    </div>
</div>



  
{% endblock %}