{% extends 'layout_admin.html' %}
<!-- Como se muestra arriba es como se carga parte del codigo, en esta hoja solo se trabajaria el body -->

{% load static %}

{% block content %}



<br> 



<div id= "titulo">
    <h1>
    Ofertas disponibles
    </h1>
</div>


<br>

<div class="container-fluid">    
    <a href="{% url 'nueva_oferta' %}" id= "boton_nueva" class="btn btn-custom">Nueva oferta</a></a> <!-- Botón de retroceso -->
    <div class="card">
        <div class="container-md">
            <table id="datatable" class="table table-responsive-md">
                <thead>
                    <tr>
                        <th data-sortable="true">
                            Nombre de la oferta
                            <i class="fas fa-sort"></i> <!-- Ícono de orden ascendente por defecto -->            
                        </th> 

                        <th data-searchable="true">
                            Cant. postulantes
                            <i class="fas fa-sort"></i> <!-- Ícono de orden ascendente por defecto --> 
                        </th> <!-- Habilita búsqueda -->
                                           
                        <th data-sortable="true">
                            Cargo
                            <i class="fas fa-sort"></i> <!-- Ícono de orden ascendente por defecto --> 
                        </th> <!-- Habilita ordenamiento -->
                        
                        <th data-searchable="true">
                            Fecha
                            <i class="fas fa-sort"></i> <!-- Ícono de orden ascendente por defecto --> 
                        </th> <!-- Habilita búsqueda -->

                        <th data-searchable="true">
                            Descripción
                            <i class="fas fa-sort"></i> <!-- Ícono de orden ascendente por defecto --> 
                        </th> <!-- Habilita búsqueda -->

                        <th></th> <!-- Agregamos una columna para las acciones -->
                    </tr>
                </thead>
                <tbody>   
                {% for ofe in ofertas%}
                    <tr>
                        <td class="nombre-oferta">{{ ofe.nom_oferta }}</td>
                        <td>
                            <p>Postulantes: <span id="num_postulantes_{{ ofe.id_oferta }}" class="destacado">{{ ofe.num_formularios }}</span></p>
                        </td>
                        <td>{{ ofe.fk_id_tipo_cargo.nom_cargo }}</td>
                        <td class="fecha-oferta">{{ ofe.fecha_oferta }}</td>
                        <td>
                            <p><span class="destacado">Experiencia:</span> {{ ofe.anhos_experiencia }} <span> años</span> </p>
                            <p><span class="destacado">Modalidad:</span> {{ ofe.fk_id_modalidad.nom_modalidad }}</p>
                            <p><span class="destacado">Comuna:</span> {{ ofe.fk_id_comuna.nom_comuna }}</p> 
                            <p>
                                <span class="destacado">Competencias: </span>
                                <ul>
                                    {% for competenciaoferta in ofe.competenciaoferta_set.all %}
                                    <li>{{ competenciaoferta.fk_id_competencia.nombre_competencia }}</li>
                                    {% endfor %}
                                    <li>
                                        <a href="{% url 'compe_oferta' ofe.id_oferta ofe.nom_oferta|slugify %}" class="btn btn-custom" id="enviar2" data-bs-toggle="modal" data-bs-target="#ofertaModal">
                                          <span class="plus-icon"><i class="fa-solid fa-circle-plus"></i></span>
                                        </a>
                                    </li>                                                                          
                                </ul>
                            </p>                                                       
                        </td>

                        <td>
                            <a href="{% url 'eliminar_oferta' ofe.id_oferta %}" class="btn btn-danger eliminar-btn" data-oferta-id="{{ ofe.id_oferta }}"><i class="fa-solid fa-trash"></i></a>
                            <br>
                            <br>
                            <a href="{% url 'exportar_csv' ofe.id_oferta ofe.nom_oferta|slugify %}" 
                            id="Analizar" 
                            class="btn btn-success" 
                            data-num-postulantes="{{ ofe.num_formularios }}">Analizar</a>
                        </td>
                    </tr>
                {% endfor %}

            </tbody>
            </table>
            
        </div>
    </div>
</div>


<!-- Coloca el código JavaScript al final de tu contenido -->

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script src="{% static 'js/filtro_ofertas.js' %}"></script>
<script src="{% static 'js/eliminar_oferta.js' %}"></script>
<script src="{% static 'js/validacionAnalisis.js' %}"></script>



{% endblock %}