{% extends 'layout_user.html' %}

{% load static %}

{% block content %}

<br>    
<section >
    <div class="row">
        <div class="col-lg-4">
            <div class="card mb-3">
                <div class="card-body text-center" style="padding: 33px;">
                    {% if usuarios %}
                        {% for usuario in usuarios %}
                    <img src="{% static 'imagenes/perfil.png' %}"
                        alt="avatar" class="rounded-circle img-fluid" style="width: 150px;">
                    <h4 id="titulo2" class="my-3">{{ usuario.nombre|title }} {{ usuario.primer_apellido|title }}</h4>
                    <p class="text-muted mb-0">Email: {{ usuario.correo }}</p>
                    <a class="btn btn-secondary mt-3" type="button" href="{% url 'edit_personal' usuario.id_usuario %}" style="float: center;">Editar datos personales <i class="fa-solid fa-pen-to-square"></i></a>
                        {% endfor %}
                    {% else %}
                    <img src="{% static 'imagenes/not-found.png' %}"
                    alt="avatar" class="img-fluid" style="width: 150px;">
                    <h4 id="titulo2" class="my-3">Ups! :(</h4>
                    <p class="text-muted mb-4">No se ha encontrado información relacionada a su perfil de usuario.<br>¡Da el primer paso ingresando tus datos personales!</p>
                    <a class="btn btn-primary mr-2" type="button" data-bs-toggle="modal" data-bs-target="#persModal" id="btnPersModal">Ingresar datos personales</a>
                    <style>
                        #btnModal {
                            display: none;
                        }
                    </style>
                    {% endif %}
                </div>
                {% include 'popup_personal.html' %}
            </div>        
        </div>
        
        <div class="col-lg-8">
            <div class="card mb-4">
                <div class="card"> 
                    {% if usuarios %}
                        {% for usuario in usuarios %}
                    <div class = "titulo3">
                        <h4  class="titulo3 mb-3 mt-3">Datos personales</h4>    
                    </div> 
                </div>

                <div class="card-body mb-0 mt-0">
                    <div class="row">
                        <div class="col-sm-3">
                            <p id="titulo2" class="mb-0">Rut</p>
                        </div>
                        <div class="col-sm-9"> 
                            <p class="text-muted mb-0">{{ usuario.rut_usuario }}-{{ usuario.dv_usuario }}</p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <p id="titulo2" class="mb-0">Nombre completo</p>
                        </div>
                        <div class="col-sm-9"> 
                            <p class="text-muted mb-0">{{ usuario.nombre|title }} {{ usuario.segundo_nombre|title }} {{ usuario.primer_apellido|title }} {{ usuario.segundo_apellido|title }}</p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <p id="titulo2" class="mb-0">Nacionalidad</p>
                        </div>
                        <div class="col-sm-9">
                            <p class="text-muted mb-0">{{ usuario.nacionalidad|title }}</p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <p id="titulo2" class="mb-0">Número Telefónico</p>
                        </div>
                        <div class="col-sm-9">
                            <p class="text-muted mb-0">+56 {{ usuario.telefono }}</p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <p id="titulo2" class="mb-0">Fecha nacimiento</p>
                        </div>
                        <div class="col-sm-9">
                            <p class="text-muted mb-0">{{ usuario.fecha_nacimiento }}</p>
                        </div>
                    </div>
                    
                </div>
            </div>
            {% endfor %}
            {% else %}
            <div class="card"> 
                <div class = "titulo3">
                    <h4  class="titulo3 mb-3 mt-3">Datos personales</h4>    
                </div> 
            </div>
            <div class="card mb-0">
                <div class="card-body">    
                    <div class="row">   
                        <div class="col-sm-12 d-flex align-items-center justify-content-center">
                            <p class="text-muted mb-0">No se encontró información sobre los datos personales para este usuario.</p>
                        </div>                        
                    </div>                         
                </div>
            </div>
            <style>
                #btnModal {
                    display: none;
                }
            </style>
            {% endif %}
        </div>
        {% include 'popup_personal.html' %}
    </div>
        

        <div class="col-lg-12">
            <div class="card mb-2 mt-3"> 
                <div class = "titulo3">
                    <h4  class="titulo3 mb-3 mt-3">Experiencia laboral <a class="btn btn-primary mr-2" type="button" data-bs-toggle="modal" data-bs-target="#expModal" style="float: right; margin-top: -5px;" id="btnModal"><i class="fa-solid fa-plus"></i></a></h4>    
                </div> 
            </div>
                {% if experiencias %}
                    {% for experiencia in experiencias %}
                    <div class="card mb-2">
                        <div class="card-body"> 
                            <h4 id="titulo2" class="mb-0">{{ experiencia.fk_id_tipo_cargo.nom_cargo|title }} <a class="btn btn-danger mr-2" type="button" href="{% url 'eliminar_exps' experiencia.id_experiencia %}" style="float: right; margin-top: -5px;"><i class="fa-solid fa-trash"></i></a>&nbsp;<a class="btn btn-secondary mr-2" type="button" href="{% url 'edit_experiencia' experiencia.id_experiencia %}" style="float: right; margin-top: -5px;"><i class="fa-solid fa-pen-to-square"></i></a></h4>
                            <hr>
                            <div class="row">
                                <div class="col-sm-2">
                                    <p id="titulo2" class="mb-0">Tipo de contrato</p>
                                </div>
                                <div class="col-sm-4">
                                    {% if experiencia.fk_id_tipo_empleo %}
                                        <p class="text-muted mb-0">{{ experiencia.fk_id_tipo_empleo.nom_tipo_empleo }}</p>
                                    {% else %}
                                        <p class="text-muted mb-0">No se encontró información sobre el tipo de empleo</p>
                                    {% endif %}                             
                                </div>     
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-2">
                                    <p id="titulo2" class="mb-0">Fecha de inicio</p>
                                </div>
                                <div class="col-sm-4">
                                    {% if experiencia.fecha_inicio_exp|time %}
                                        <p class="text-muted mb-0">{{ experiencia.fecha_inicio_exp }}</p>
                                    {% else %}
                                        <p class="text-muted mb-0">{{  experiencia.fecha_inicio_exp }}</p>
                                    {% endif %}
                                </div>
                                <div class="col-sm-2">
                                    <p id="titulo2" class="mb-0">Fecha de término</p>
                                </div>
                                <div class="col-sm-4">
                                    {% if experiencia.fecha_termino_exp|time %}
                                        <p class="text-muted mb-0">{{ experiencia.fecha_termino_exp }}</p>
                                    {% else %}
                                        <p class="text-muted mb-0">{{  experiencia.fecha_termino_exp }}</p>
                                    {% endif %}
                                </div>
                            </div>
                            <hr>
                            <div class="row">   
                                <div class="col-sm-2">
                                    <p id="titulo2" class="mb-0">Modalidad</p>
                                </div>
                                <div class="col-sm-4">
                                    {% if experiencia.fk_id_modalidad %}
                                        <p class="text-muted mb-0">{{ experiencia.fk_id_modalidad.nom_modalidad }}</p>
                                    {% else %}
                                        <p class="text-muted mb-0">No se encontró información sobre la modalidad</p>
                                    {% endif %}                             
                                </div> 
                                <div class="col-sm-2">
                                    <p id="titulo2" class="mb-0">Comuna</p>
                                </div>
                                <div class="col-sm-4">
                                    {% if experiencia.fk_id_comuna %}
                                        <p class="text-muted mb-0">{{ experiencia.fk_id_comuna.nom_comuna }}</p>
                                    {% else %}
                                        <p class="text-muted mb-0">No se encontró información sobre la ubicación del empleo</p>
                                    {% endif %}                             
                                </div>  
                            </div> 
                            <hr>
                            <div class="row">   
                                <div class="col-sm-2">
                                    <p id="titulo2" class="mb-0">Descripción</p>
                                </div>
                                <div class="col-sm-10">
                                    <p class="text-muted mb-0">{{ experiencia.descripcion }}</p>                                    
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}

            <div class="card mb-4">
                <div class="card-body">    
                    <div class="row">   
                        <div class="col-sm-12 d-flex align-items-center justify-content-center">
                            <p class="text-muted mb-0">No se encontró información sobre experiencia laboral para este usuario.</p>
                        </div>                        
                    </div>                         
                </div>
            </div>
            {% endif %}
            {% include 'popup_experiencias.html' %}
        </div>

        <div class="col-lg-12">
            <div class="card mb-2 mt-3"> 
                <div class = "titulo3">
                    <h4  class="titulo3 mb-3 mt-3">Datos académicos <a class="btn btn-primary mr-2" type="button" data-bs-toggle="modal" data-bs-target="#educModal" style="float: right; margin-top: -5px;"style="float: right;" id="btnModal"><i class="fa-solid fa-plus"></i></a></h4>    
                </div> 
            </div>
                {% if educaciones %}
                {% for educacion in educaciones %}
                    <div class="card mb-2">
                        <div class="card-body"> 
                            <h4 id="titulo2" class="mb-0">{{ educacion.fk_id_titulo.nombre_titulo|title }} <a class="btn btn-danger mr-2" type="button" href="{% url 'eliminar_educacion' educacion.id_educacion %}" style="float: right; margin-right: 10px;"><i class="fa-solid fa-trash"></i></a>&nbsp;<a class="btn btn-secondary mr-2" type="button" href="{% url 'edit_educacion' educacion.id_educacion %}" style="float: right; margin-top: 0px;"><i class="fa-solid fa-pen-to-square"></i></a></h4>
                            <hr>
                            <div class="row">   
                                <div class="col-sm-2">
                                    <p id="titulo2" class="mb-0">Casa de estudio</p>
                                </div>
                                <div class="col-sm-10">
                                    {% if educacion.fk_id_institucion.nombre_institucion %}
                                        <p class="text-muted mb-0">{{ educacion.fk_id_institucion.nombre_institucion }}</p>
                                    {% else %}
                                        <p class="text-muted mb-0">No se encontró información sobre la casa de estudios.</p>
                                    {% endif %}                             
                                </div>
                            </div>                              
                            <hr>
                            <div class="row">   
                                <div class="col-sm-2">
                                    <p id="titulo2" class="mb-0">Tipo educación</p>
                                </div>
                                <div class="col-sm-10">
                                    <p class="text-muted mb-0">{{ educacion.fk_id_formacion.tipo_formacion  }}</p>                                    
                                </div>
                            </div>  

                            <hr>   
                            <div class="row">
                                <div class="col-sm-2">
                                    <p id="titulo2" class="mb-0">Año de inicio</p>
                                </div>
                                <div class="col-sm-4">
                                    {% if educacion.annio_inicio_educ %}
                                        <p class="text-muted mb-0">{{ educacion.annio_inicio_educ }}</p>
                                    {% else %}
                                        <p class="text-muted mb-0">{{ educacion.annio_inicio_educ }}</p>
                                    {% endif %}
                                </div>
                                <div class="col-sm-2">
                                    <p id="titulo2" class="mb-0">Año de término</p>
                                </div>
                                <div class="col-sm-4">
                                    {% if educacion.annio_fin_educ %}
                                        <p class="text-muted mb-0">{{ educacion.annio_fin_educ }}</p>
                                    {% else %}
                                        <p class="text-muted mb-0">{{ educacion.annio_fin_educ }}</p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}

                {% else %}

                <div class="card mb-4">
                    <div class="card-body">    
                        <div class="row">   
                            <div class="col-sm-12 d-flex align-items-center justify-content-center">
                                <p class="text-muted mb-0">No se encontró información académica para este usuario.</p>
                            </div>                        
                        </div>                         
                    </div>
                </div>
                {% endif %}
                {% include 'popup_educacion.html' %}
            </div>

        <div class="col-lg-12">
            <div class="row">
                <div id="cards" class="col-lg-6 custom-card">
                    <div class="card mb-4 mt-4">
                        <div class = "titulo3">
                            <h4 id="titulo3" class="mb-3 mt-3">Competencias <a class="btn btn-primary mr-2" type="button" data-bs-toggle="modal" data-bs-target="#compeModal" style="float: right; margin-top: -5px;" id="btnModal"><i class="fa-solid fa-plus"></i></a></h4>    
                        </div>
                        {% if competencias %}             
                            {% for competencia in competencias %}
                                <ul class="list-group list-group-flush rounded-3">
                                    <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                        <i class="fa-solid fa-award" style="color: rgb(201, 188, 18)"></i>
                                        <div class="col-sm-12 d-flex align-items-center justify-content-start">
                                            <h6 id="titulo2" class="mb-0"><a class="btn btn-danger mr-2" type="button" href="{% url 'eliminar_compes' competencia.id_compe_usuario %}" style="float: right; position: absolute; right: 0; margin-top: -7px;"><i class="fa-solid fa-trash"></i></a>{{ competencia.fk_id_competencia.nombre_competencia|title }}&nbsp;&nbsp;-&nbsp;&nbsp;  Nivel: {{ competencia.nivel }} &nbsp;&nbsp;&nbsp;&nbsp;</h6>
                                        </div>                            
                                    </li>         
                                </ul>                                                            
                            {% endfor %}
                        {% else %}
                            <ul class="list-group list-group-flush rounded-3">
                                <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                    <i class="fa-solid fa-award" style="color: rgb(201, 188, 18)"></i>
                                    <h6 id="titulo2" class="mb-0 align-self-center">No registra competencias</h6>                      
                                </li>         
                            </ul>   
                        {% endif %}  
                    </div>
                    {% include 'popup_competencias.html' %}
                </div>

        <div id="cards" class="col-lg-6 custom-card">
            <div class="card mt-4 mb-4">
                <div class="titulo3">
                    <h4  class="mb-3 mt-3">Idiomas <a class="btn btn-primary mr-2" type="button" data-bs-toggle="modal" data-bs-target="#idiModal" style="float: right; margin-top: -5px;" id="btnModal"><i class="fa-solid fa-plus"></i></a></h4>    
                </div>         
                {% if idiomas %}
                    {% for idioma in idiomas %}
                        <ul class="list-group list-group-flush rounded-3">
                            <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                <i class="fa-solid fa-earth-americas" style="color: rgb(201, 188, 18)"></i>
                                <div class="col-sm-12 d-flex align-items-center justify-content-start">
                                    <h6 id="titulo2" class="align-self-center mb-0"><a class="btn btn-danger mr-2" type="button" href="{% url 'eliminar_idiomas' idioma.id_idioma_usuario %}" style="float: right; position: absolute; right: 0; margin-top: -7px;"><i class="fa-solid fa-trash"></i></a>{{ idioma.fk_id_idioma.nombre_idioma|title }}  &nbsp;&nbsp;-&nbsp;&nbsp;  Nivel: {{ idioma.nivel }}</h6>
                                </div>                            
                            </li>         
                        </ul>                                       
                    {% endfor %}
                {% else %}
                    <ul class="list-group list-group-flush rounded-3">
                        <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                            <i class="fa-solid fa-earth-americas" style="color: rgb(201, 188, 18)"></i>
                            <h6 id="titulo2" class="mb-0 align-self-center">No registra idiomas</h6>                             
                        </li>         
                    </ul>
                {% endif %} 
            </div>
            {% include 'popup_idiomas.html' %}
        </div>

        <div id="cards" class="col-lg-6 custom-card">
            <div class="card mt-4  mb-4">
                <div class="titulo3">
                    <h4  class="mb-3 mt-3">Habilidades <a class="btn btn-primary mr-2" type="button" data-bs-toggle="modal" data-bs-target="#habiModal" style="float: right; margin-top: -5px;" id="btnModal"><i class="fa-solid fa-plus"></i></a></h4>    
                </div>      
                {% if habilidades %}
                    {% for habilidad in habilidades %}
                        <ul class="list-group list-group-flush rounded-3">
                            <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                <i class="fa-solid fa-star" style="color: rgb(201, 188, 18)"></i>
                                <div class="col-sm-12 d-flex align-items-center justify-content-start">
                                    <h6 id="titulo2" class="align-self-center mb-0"><a class="btn btn-danger mr-2" type="button" href="{% url 'eliminar_habis' habilidad.id_habilidad_usuario %}" style="float: right; position: absolute; right: 0; margin-top: -7px;"><i class="fa-solid fa-trash"></i></a>{{ habilidad.fk_id_habilidad.nombre_habilidad }}</h6>
                                </div>                            
                            </li>         
                        </ul>                                       
                    {% endfor %}
                {% else %}
                    <ul class="list-group list-group-flush rounded-3">
                        <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                            <i class="fa-solid fa-star" style="color: rgb(201, 188, 18)"></i>
                            <h6 id="titulo2" class="mb-0 align-self-center">No registra habilidades</h6>                        
                        </li>         
                    </ul>                             
                {% endif %}
            </div>
            {% include 'popup_habilidades.html' %}
        </div>


        <div id="cards" class="col-lg-6 custom-card">
            <div class="card mt-4  mb-4">
                <div class = "titulo3">
                    <h4  class="mb-3 mt-3">Logros académicos <a class="btn btn-primary mr-2" type="button" data-bs-toggle="modal" data-bs-target="#logroModal" style="float: right; margin-top: -5px;" id="btnModal"><i class="fa-solid fa-plus"></i></a></h4>    
                </div>      
                {% if logros %}
                    {% for logro in logros %}
                        <ul class="list-group list-group-flush rounded-3">
                            <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                <i class="fa-solid fa-graduation-cap" style="color: rgb(201, 188, 18)"></i>
                                <div class="col-sm-12 d-flex align-items-center justify-content-start">
                                    <h6 id="titulo2" class="align-self-center mb-0"><a class="btn btn-danger mr-2" type="button" href="{% url 'eliminar_logros' logro.id_usuario_logro %}" style="float: right; position: absolute; right: 0; margin-top: -7px;"><i class="fa-solid fa-trash"></i></a>{{ logro.fk_id_logro_academico.nom_logro|title }} </h6>
                                </div>                            
                            </li>         
                        </ul>                                       
                    {% endfor %}
                {% else %}
                    <ul class="list-group list-group-flush rounded-3">
                        <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                            <i class="fa-solid fa-graduation-cap" style="color: rgb(201, 188, 18)"></i>
                            <h6 id="titulo2" class="mb-0 align-self-center">No registra logros académicos.</h6>                        
                        </li>         
                    </ul>                             
                {% endif %}
            </div>
            {% include 'popup_logros.html' %}
        </div>

        </div>
    </div>






    </div>
</section>

{% endblock %}