{% extends 'layout2.html' %}

{% load static %}

{% block content %}

<section>
    <br>
    <a class="btn btn-danger mb-3" href="{% url 'perfil_user' %}"><i class="fa-solid fa-left-long"></i></a>
    <br>
    <div class="row">
        <div class="col-md-12">
            <form method="POST" action="" id="formularioPerfilExp">
                {% csrf_token %}
                <div class="card mb-4">
                    <div class="card-body text-center">
                        <h3 id="tituloCard1">Experiencia laboral</h3>
                        <div class="row text-left">

                            <div class="col-lg-4 formExpEdit">
                                <div class="form-group">
                                    <label for="" style="color: #003e77;">Cargo:</label>
                                    {{ form.fk_id_tipo_cargo}}
                                </div>
                            </div>

                            <div class="col-lg-4 formExpEdit">
                                <div class="form-group">
                                    <label for="" style="color: #003e77;">Empresa:</label>
<!--                                     <input type="text" class="form-control" name="nombre_empleo" id="nombre_empleo" required/> -->
                                    {{ form.nombre_empresa }}
                                </div>
                            </div>

                            <div class="col-lg-4 formExpEdit">
                                <div class="form-group">
                                    <label for="" style="color: #003e77;">Comuna:</label>
                                    {{ form.fk_id_comuna }}
                                </div>
                            </div>

                            <div class="col-lg-2 formExpEdit">
                                <div class="form-group">
                                    <label for="" style="color: #003e77;">Modalidad:</label>
                                    {{ form.fk_id_modalidad}}
                                </div>
                            </div>

                            <div class="col-lg-3 formExpEdit">
                                <div class="form-group">
                                    <label for="" style="color: #003e77;">Fecha inicio:</label>
                                    {{ form.fecha_inicio_exp }}
                                </div>
                            </div>

                            <div class="col-lg-3 formExpEdit">
                                <div class="form-group">
                                    <label for="" style="color: #003e77;">Fecha término:</label>
<!--                                     <input type="text" class="form-control" name="fecha_termino_exp" id="fecha_termino_exp" required/> -->
                                    {{ form.fecha_termino_exp }}
                                </div>
                            </div>

                            <div class="col-lg-2 formExpEdit" style="display: none;">
                                <div class="form-group">
                                    <label for="" style="color: #003e77;">ID Usuario:</label>
                                    {{ form.fk_id_usuario }}
                                </div>
                            </div>

                            <div class="col-lg-4 formExpEdit">
                                <div class="form-group">
                                    <label for="" style="color: #003e77;">Tipo empleo:</label>
                                    {{ form.fk_id_tipo_empleo }}
                                </div>
                            </div>

                            <div class="col-12 formExpEdit">
                                <div class="form-group">
                                    <label for="" style="color: #003e77;">Descripción:</label>
<!--                                     <textarea class="form-control" name="descripcion" id="descripcion" required></textarea> -->
                                    {{ form.descripcion }}
                                </div>
                            </div>
                        </div>

                        <div class="col-auto">
                            <input type="submit" class="btn btn-primary" id="enviarPerfilExp" value="Guardar">
                        </div>
                        <!-- BOTON ENVIAR FORMULARIO -->

            </form>
            <!-- FIN FORMULARIO GENERAL -->
        </div>
    </div>
    <br>
    <!-- FIN ESTRUCTURA FORMULARIO GENERAL -->
</section>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="{% static 'js/validacionPerfilExperienciaEdit.js' %}"></script>
{% endblock %}