{% extends 'layout2.html' %}

{% load static %}

{% block content %}

<!-- INICIO FORMULARIO EXPERIENCIA -->
    <section>

        <p class="text-center" style="color: #003e77; font-size: 100px;"><i class="fa-solid fa-id-card"></i></p>

        <div class="row">
            <div class="col-lg-12">
               <form method="POST" action="" id="formularioPerfilCompe">
                   {% csrf_token %}
                   <div class="table-responsive-md">
                       <table class="table table-border">
                           <tr>
                               <th class="table-primary">Rut</th>
                               <th class="table-primary">Nombres</th>
                               <th class="table-primary">Apellidos</th>
                               <th class="table-primary">Fecha nacimiento</th>
                               <th class="table-primary">Nacionalidad</th>
                               <th class="table-primary">Teléfono</th>
                               <th class="table-primary">Email</th>
                           </tr>
                           <div class="row">
                               <div class="col-sm-3">
                                   <h4 class="text">Datos personales</h4>
                                   {% if usuarios %}
                                       {% for usuario in usuarios %}
                                       <tr>
                                           <td>{{ usuario.rut_usuario }}-{{ usuario.dv_usuario }}</td>
                                           <td>{{ usuario.nombre }} {{ usuario.segundo_nombre }}</td>
                                           <td>{{ usuario.primer_apellido }} {{ usuario.segundo_apellido}}</td>
                                           <td>{{ usuario.fecha_nacimiento }}</td>
                                           <td>{{ usuario.nacionalidad }}</td>
                                           <td>+56 9 {{ usuario.telefono }}</td>
                                           <td>{{ usuario.correo }}</td>
                                           <td>
                                               <a class="btn btn-secondary mr-2" type="button" href="{% url 'edit_personal' usuario.id_usuario %}" style="float: right; margin-right: 10px;"><i class="fa-solid fa-pen-to-square"></i></a>
                                           </td>
                                       {% endfor %}
                                   {% else %}
                                       <p>No tienes ninguna dirección registrada</p>
                                   {% endif %}
                                       </tr>
                               </div>
                           </div>
                       </table>
                   </div>
               </form>
           </div>
       </div>

         <div class="row">
             <div class="col-lg-12">
                <form method="POST" action="" id="formularioPerfilCompe">
                    {% csrf_token %}
                    <div class="table-responsive-md">
                        <table class="table table-border">
                            <tr>
                                <th class="table-primary">Dirección</th>
                            </tr>
                            <div class="row">
                                <div class="col-sm-3">
<!--                                     <h4 class="text">Dirección</h4> -->
                                    {% if usuarios %}
                                        {% for usuario in usuarios %}
                                        <tr>
                                            <td>{{ usuario.fk_id_direccion.nombre_calle }} #{{ usuario.fk_id_direccion.numeracion }}, {{ usuario.fk_id_direccion.fk_d_comuna.nom_comuna }}</td>
                                            <td>
                                                <a class="btn btn-secondary mr-2" type="button" href="{% url 'edit_direccion' usuario.fk_id_direccion.id_direccion %}" style="float: right; margin-right: 10px;"><i class="fa-solid fa-pen-to-square"></i></a>
                                            </td>
                                        {% endfor %}
                                    {% else %}
                                        <p>No tienes ninguna dirección registrada</p>
                                    {% endif %}
                                        </tr>
                                </div>
                            </div>
                        </table>
                    </div>
                </form>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <form method="POST" action="" id="formularioPerfilCompe">
                    {% csrf_token %}
                    <div class="table-responsive-md">
                        <table class="table table-border">
                            <tr>
                                <th class="table-primary">Competencia</th>
                                <th><a class="btn btn-primary mr-2" type="button" data-bs-toggle="modal" data-bs-target="#compeModal" style="float: right; margin-right: 10px;"><i class="fa-solid fa-plus"></i></a></th>
                            </tr>
                            <div class="row">
                                <div class="col-sm-3"> 
                                    <h4>Competencias</h4>
                                    {% if competencias %}
                                        {% for competencia in competencias %}
                                        <tr>
                                            <td>{{ competencia.fk_id_competencia.nombre_competencia }}</td>
                                            <td>
                                                <a class="btn btn-danger mr-2" type="button" href="{% url 'eliminar_compes' competencia.id_compe_usuario %}" style="float: right; margin-right: 10px;"><i class="fa-solid fa-trash"></i></a>
                                            </td>
                                        {% endfor %}
                                    {% else %}
                                        <p>No tienes ninguna competencia registrada</p>
                                    {% endif %}
                                        </tr>
                                    </div>
                                {% include 'popup_competencias.html' %}
                            </div>
                        </table>
                    </div>
                </form>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <form method="POST" action="" id="formularioPerfilCompe">
                    {% csrf_token %}
                    <div class="table-responsive-md">
                        <table class="table table-border">
                            <tr>
                                <th class="table-primary">Habilidad</th>
                                <th><a class="btn btn-primary mr-2" type="button" data-bs-toggle="modal" data-bs-target="#habiModal" style="float: right; margin-right: 10px;"><i class="fa-solid fa-plus"></i></a></th>
                            </tr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h4>Habilidades</h4>
                                    {% if habilidades %}
                                        {% for habilidad in habilidades %}
                                        <tr>
                                            <td>{{ habilidad.fk_id_habilidad.nombre_habilidad }}</td>
                                            <td>
                                                <a class="btn btn-danger mr-2" type="button" href="{% url 'eliminar_habis' habilidad.id_habilidad_usuario %}" style="float: right; margin-right: 10px;"><i class="fa-solid fa-trash"></i></a>
                                            </td>
                                        {% endfor %}
                                    {% else %}
                                        <p>No tienes ninguna habilidad registrada</p>
                                    {% endif %}
                                        </tr>
                                    </div>
                                {% include 'popup_habilidades.html' %}
                            </div>
                        </table>
                    </div>
                </form>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <form method="POST" action="" id="formularioPerfilCompe">
                    {% csrf_token %}
                    <div class="table-responsive-md">
                        <table class="table table-border">
                            <tr>
                                <th class="table-primary">Idioma</th>
                                <th><a class="btn btn-primary mr-2" type="button" data-bs-toggle="modal" data-bs-target="#idiModal" style="float: right; margin-right: 10px;"><i class="fa-solid fa-plus"></i></a></th>
                            </tr>
                            <div class="row">
                                <div class="col-sm-3"> 
                                    <h4>Idiomas</h4>
                                    {% if idiomas %}
                                        {% for idioma in idiomas %}
                                        <tr>
                                            <td>{{ idioma.fk_id_idioma.nombre_idioma }}</td>
                                            <td>
                                                <a class="btn btn-danger mr-2" type="button" href="{% url 'eliminar_idiomas' idioma.id_idioma_usuario %}" style="float: right; margin-right: 10px;"><i class="fa-solid fa-trash"></i></a>
                                            </td>
                                        {% endfor %}
                                    {% else %}
                                        <p>No tienes ningun idioma registrada</p>
                                    {% endif %}
                                        </tr>
                                    </div>
                                {% include 'popup_idiomas.html' %}
                            </div>
                        </table>
                    </div>
                </form>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <form method="POST" action="" id="formularioPerfilCompe">
                    {% csrf_token %}
                    <div class="table-responsive-md">
                        <table class="table table-border">
                            <tr>
                                <th class="table-primary">Casa de Estudios</th>
                                <th class="table-primary">Título</th>
                                <th class="table-primary">Formación</th>
                                <th class="table-primary">Año inicio</th>
                                <th class="table-primary">Año término</th>
                                <th></th>
                                <th><a class="btn btn-primary mr-2" type="button" data-bs-toggle="modal" data-bs-target="#educModal" style="float: right; margin-right: 10px;"><i class="fa-solid fa-plus"></i></a></th>
                            </tr>
                            <div class="row">
                                <div class="col-md-12">
                                    <h4>Educación</h4>
                                    {% if educaciones %}
                                        {% for educacion in educaciones %}
                                        <tr>
                                            <td>{{ educacion.fk_id_institucion.nombre_institucion }}</td>
                                            <td>{{ educacion.fk_id_titulo.nombre_titulo }}</td>
                                            <td>{{ educacion.fk_id_formacion.tipo_formacion }}</td>
                                            <td>{{ educacion.annio_inicio_educ }}</td>
                                            <td>{{ educacion.annio_fin_educ }}</td>
                                            <td>
                                                <a class="btn btn-secondary mr-2" type="button" href="{% url 'edit_educacion' educacion.id_educacion %}" style="float: right; margin-right: 10px;"><i class="fa-solid fa-pen-to-square"></i></a>     
                                            </td>
                                            <td><a class="btn btn-danger mr-2" type="button" href="{% url 'eliminar_educacion' educacion.id_educacion %}" style="float: right; margin-right: 10px;"><i class="fa-solid fa-trash"></i></a></td>
                                        {% endfor %}
                                    {% else %}
                                        <p>No tienes ningun logro registrada</p>
                                    {% endif %}
                                        </tr>
                                {% include 'popup_educacion.html' %}
                                </div>
                            <div>
                        </table>
                    </div>
                </form>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <form method="POST" action="" id="formularioPerfilCompe">
                    {% csrf_token %}
                    <div class="table-responsive-md">
                        <table class="table table-border">
                            <tr>
                                <th class="table-primary">Logro</th>
                                <th><a class="btn btn-primary mr-2" type="button" data-bs-toggle="modal" data-bs-target="#logroModal" style="float: right; margin-right: 10px;"><i class="fa-solid fa-plus"></i></a></th>
                            </tr>
                            <div class="row">
                                <div class="col-md-12">
                                    <h4>Logros académicos</h4>
                                    {% if logros %}
                                        {% for logro in logros %}
                                        <tr>
                                            <td>{{ logro.fk_id_logro_academico.nom_logro }}</td>
                                            <td>
                                                <a class="btn btn-danger mr-2" type="button" href="{% url 'eliminar_logros' logro.id_usuario_logro %}" style="float: right; margin-right: 10px;"><i class="fa-solid fa-trash"></i></a>
                                            </td>
                                            </td>
                                        {% endfor %}
                                    {% else %}
                                        <p>No tienes ningun logro registrada</p>
                                    {% endif %}
                                        </tr>
                                </div>
                                {% include 'popup_logros.html' %}
                            </div>
                        </table>
                    </div>
                </form>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <form method="POST" action="" id="formularioPerfilCompe">
                    {% csrf_token %}
                    <div class="table-responsive-md">
                        <table class="table table-border">
                            <tr>
                                <th class="table-primary">Cargo</th>
                                <th class="table-primary">Jornada</th>
                                <th class="table-primary">Modalidad</th>
                                <th class="table-primary">Descripción</th>
                                <th class="table-primary">Fecha inicio</th>
                                <th class="table-primary">Fecha término</th>
                                <th></th>
                                <th>
                                    <a class="btn btn-primary mr-2" type="button" data-bs-toggle="modal" data-bs-target="#expModal" style="float: right; margin-right: 10px;"style="float: right; margin-right: 10px;"><i class="fa-solid fa-plus"></i></a>
                                </th>
                            </tr>
                            <div class="row">
                                <div class="col-md-12">
                                    <h4>Experiencia laboral</h4>
                                    {% if experiencias %}
                                        {% for experiencia in experiencias %}
                                        <tr>
                                            <td>{{ experiencia.fk_id_tipo_cargo.nom_cargo }}</td>
                                            <td>{{ experiencia.fk_id_tipo_empleo.nom_tipo_empleo }}</td>
                                            <td>{{ experiencia.fk_id_modalidad.nom_modalidad }}</td>
                                            <td>{{ experiencia.descripcion }}</td>
                                            <td>{{ experiencia.fecha_inicio_exp }}</td>
                                            <td>{{ experiencia.fecha_termino_exp }}</td>
                                            <td>
                                                <a class="btn btn-secondary mr-2" type="button" href="{% url 'edit_experiencia' experiencia.id_experiencia %}" style="float: right; margin-right: 10px;"><i class="fa-solid fa-pen-to-square"></i></a>
                                            </td>
                                            <td>
                                                <a class="btn btn-danger mr-2" type="button" href="{% url 'eliminar_exps' experiencia.id_experiencia %}" style="float: right; margin-right: 10px;"><i class="fa-solid fa-trash"></i></a>
                                            </td>
                                        {% endfor %}
                                    {% else %}
                                        <p>No tienes ninguna experiencia laboral registrada</p>
                                    {% endif %}
                                        </tr>
                                </div>
                                {% include 'popup_experiencias.html' %}
                            </div>
                        </table>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <br>

<!--                 </div>
            </div> -->
<!-- BOTON ENVIAR FORMULARIO -->
<!-- FIN FORMULARIO GENERAL -->
<!-- FIN ESTRUCTURA FORMULARIO GENERAL -->

<div class="col-auto">
    <a class="btn btn-primary mr-2" type="button" href="{% url 'perfil_educacion' %}"></i>Continuar</a>
</div>
<br>
<!-- FIN FORMULARIO EXPERIENCIA -->


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="{% static 'js/validacionPerfilPers.js' %}"></script>
{% endblock %}