{% extends 'layout_admin.html' %}

{% load static %}

{% block content %}
{% load humanize %}



<br>    
<section >
    <div class="d-flex justify-content-between align-items-center">
        <a href="{% url 'read_csv' id_oferta %}" class="btn btn-danger mb-2" id="boton_volver"><i class="fa-solid fa-left-long"></i></a>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <div class="card mb-4">
                <div class="card-body text-center" style="padding: 46px;">
                    <br>
                    <img src="{% static 'imagenes/perfil.png' %}"
                        alt="avatar" class="rounded-circle img-fluid" style="width: 150px;">
                    <h4 id="titulo2" class="my-3">{{ usuarios.nombre|title }} {{ usuarios.primer_apellido|title }}</h4>
                </div>
            </div>          
        </div>
        
        <div class="col-lg-8">
            <div class="card">
                <div class="card"> 
                    <div class = "titulo3">
                        <h4  class="titulo3 mb-3 mt-3">Datos personales</h4>    
                    </div> 
                </div>
                <div class="card-body mb-0 mt-0">
                    <div class="row">
                        <div class="col-sm-3">
                            <p id="titulo2" class="mb-0">Rut</p>
                        </div>
                        <div class="col-sm-9"> 
                            <p class="text-muted mb-0">{{ usuarios.rut_usuario }}-{{ usuarios.dv_usuario }}</p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <p id="titulo2" class="mb-0">Nombre completo</p>
                        </div>
                        <div class="col-sm-9"> 
                            <p class="text-muted mb-0">{{ usuarios.nombre|title }} {{ usuarios.segundo_nombre|title }} {{ usuarios.primer_apellido|title }} {{ usuarios.segundo_apellido|title }}</p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <p id="titulo2" class="mb-0">Nacionalidad</p>
                        </div>
                        <div class="col-sm-9">
                            <p class="text-muted mb-0">{{ usuarios.nacionalidad|title }}</p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <p id="titulo2" class="mb-0">Número Telefonico</p>
                        </div>
                        <div class="col-sm-9">
                            <p class="text-muted mb-0">+56 {{ usuarios.telefono }}</p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <p id="titulo2" class="mb-0">Correo electronico</p>
                        </div>
                        <div class="col-sm-9">
                            <p class="text-muted mb-0">{{ usuarios.correo }}</p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <p id="titulo2" class="mb-0">Fecha nacimiento</p>
                        </div>
                        <div class="col-sm-9">
                            {% if usuarios.fecha_nacimiento %}
                                <p class="text-muted mb-0">{{ usuarios.fecha_nacimiento }}</p>
                            {% else %}
                                <p class="text-muted mb-0">{{ usuarios.fecha_nacimiento }}</p>
                            {% endif %}
                        </div>
                    </div>
                    
                </div>
            </div>
            
        </div>
        <div class="col-lg-12">
            <div class="card mb-2 mt-3"> 
                <div class = "titulo3">
                    <h4  class="titulo3 mb-3 mt-3">Experiencia laboral</h4>    
                </div> 
            </div>
                {% if experiencias %}
                    {% for experiencia in experiencias %}
                    <div class="card mb-2">
                        <div class="card-body"> 
                            <h4 id="titulo2" class="mb-0">{{ experiencia.nombre_empleo|title }}</h4>
                            <hr>
                            <div class="row">
                                <div class="col-sm-2">
                                    <p id="titulo2" class="mb-0">Cargo ejercido</p>
                                </div>
                                <div class="col-sm-4">
                                    {% if experiencia.fk_id_tipo_cargo %}
                                        <p class="text-muted mb-0">{{ experiencia.fk_id_tipo_cargo.nom_cargo }}</p>
                                    {% else %}
                                        <p class="text-muted mb-0">No se encontró información sobre el tipo de cargo.</p>
                                    {% endif %}                             
                                </div>
                                <div class="col-sm-2">
                                    <p id="titulo2" class="mb-0">Tipo de contrato</p>
                                </div>
                                <div class="col-sm-4">
                                    {% if experiencia.fk_id_tipo_empleo %}
                                        <p class="text-muted mb-0">{{ experiencia.fk_id_tipo_empleo.nom_tipo_empleo }}</p>
                                    {% else %}
                                        <p class="text-muted mb-0">No se encontró información sobre el tipo de empleo</p>
                                    {% endif %}                             
                                </div>     
                            </div>
                            <hr>
                            <div class="row">   
                                <div class="col-sm-2">
                                    <p id="titulo2" class="mb-0">Descripcion</p>
                                </div>
                                <div class="col-sm-10">
                                    <p class="text-muted mb-0">{{ experiencia.descripcion }}</p>                                    
                                </div>
                            </div>  

                            <hr>   
                            <div class="row">
                                <div class="col-sm-2">
                                    <p id="titulo2" class="mb-0">Fecha de inicio</p>
                                </div>
                                <div class="col-sm-4">
                                    {% if experiencia.fecha_inicio_exp|time %}
                                        <p class="text-muted mb-0">{{ experiencia.fecha_inicio_exp }}</p>
                                    {% else %}
                                        <p class="text-muted mb-0">{{  experiencia.fecha_inicio_exp }}</p>
                                    {% endif %}
                                </div>
                                <div class="col-sm-2">
                                    <p id="titulo2" class="mb-0">Fecha de termino</p>
                                </div>
                                <div class="col-sm-4">
                                    {% if experiencia.fecha_termino_exp|time %}
                                        <p class="text-muted mb-0">{{ experiencia.fecha_termino_exp }}</p>
                                    {% else %}
                                        <p class="text-muted mb-0">{{  experiencia.fecha_termino_exp }}</p>
                                    {% endif %}
                                </div>
                            </div>
                            <hr>
                            <div class="row">   
                                <div class="col-sm-2">
                                    <p id="titulo2" class="mb-0">Modalidad</p>
                                </div>
                                <div class="col-sm-4">
                                    {% if experiencia.fk_id_modalidad %}
                                        <p class="text-muted mb-0">{{ experiencia.fk_id_modalidad.nom_modalidad }}</p>
                                    {% else %}
                                        <p class="text-muted mb-0">No se encontró información sobre la modalidad</p>
                                    {% endif %}                             
                                </div> 
                                <div class="col-sm-2">
                                    <p id="titulo2" class="mb-0">Comuna</p>
                                </div>
                                <div class="col-sm-4">
                                    {% if experiencia.fk_id_comuna %}
                                        <p class="text-muted mb-0">{{ experiencia.fk_id_comuna.nom_comuna }}</p>
                                    {% else %}
                                        <p class="text-muted mb-0">No se encontró información sobre la ubicación del empleo</p>
                                    {% endif %}                             
                                </div>  
                            </div> 
                        </div>
                    </div>
                {% endfor %}
            {% else %}

            <div class="card mb-4">
                <div class="card-body">    
                    <div class="row">   
                        <div class="col-sm-12 d-flex align-items-center justify-content-center">
                            <p class="text-muted mb-0">No se encontró información sobre experiencia laboral para este usuario.</p>
                        </div>                        
                    </div>                         
                </div>
            </div>

        {% endif %}
            
        </div>

        <div class="col-lg-12">
            <div class="card mb-2 mt-3"> 
                <div class = "titulo3">
                    <h4  class="titulo3 mb-3 mt-3">Datos académicos</h4>    
                </div> 
            </div>
                {% if educaciones %}
                    {% for educacion in educaciones %}
                        <div class="card mb-2">
                            <div class="card-body"> 
                                <div class="row"> 
                                    <div class="col-sm-2">
                                        <p id="titulo2" class="mb-0">Titulo </p>
                                    </div>
                                    <div class="col-sm-10">  
                                        {% if educacion.fk_id_titulo %}
                                            <p class="text-muted mb-0">{{ educacion.fk_id_titulo.nombre_titulo|title }}</p>
                                        {% else %}
                                            <p class="text-muted mb-0">No se encontró información sobre el titulo.</p>
                                        {% endif %}                             
                                    </div>
                                </div> 

                                <hr>
                                <div class="row">                                     
                                    <div class="col-sm-2">
                                        <p id="titulo2" class="mb-0">Casa de estudio</p>
                                    </div>
                                    <div class="col-sm-4">
                                        {% if educacion.fk_id_institucion.nombre_institucion %}
                                            <p class="text-muted mb-0">{{ educacion.fk_id_institucion.nombre_institucion }}</p>
                                        {% else %}
                                            <p class="text-muted mb-0">No se encontró información sobre la casa de estudios.</p>
                                        {% endif %}                             
                                    </div>
  
                                    <div class="col-sm-2">
                                        <p id="titulo2" class="mb-0">Tipo educación</p>
                                    </div>
                                    <div class="col-sm-4">
                                        <p class="text-muted mb-0">{{ educacion.fk_id_formacion.tipo_formacion  }}</p>                                    
                                    </div>
                                </div>  

                                <hr>   
                                <div class="row">
                                    <div class="col-sm-2">
                                        <p id="titulo2" class="mb-0">Año de inicio</p>
                                    </div>
                                    <div class="col-sm-4">
                                        {% if educacion.annio_inicio_educ %}
                                            <p class="text-muted mb-0">{{ educacion.annio_inicio_educ }}</p>
                                        {% else %}
                                            <p class="text-muted mb-0">{{ educacion.annio_inicio_educ }}</p>
                                        {% endif %}
                                    </div>
                                    <div class="col-sm-2">
                                        <p id="titulo2" class="mb-0">Año de término</p>
                                    </div>
                                    <div class="col-sm-4">
                                        {% if educacion.annio_fin_educ %}
                                            <p class="text-muted mb-0">{{ educacion.annio_fin_educ }}</p>
                                        {% else %}
                                            <p class="text-muted mb-0">{{ educacion.annio_fin_educ }}</p>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                {% else %}

                <div class="card mb-4">
                    <div class="card-body">    
                        <div class="row">   
                            <div class="col-sm-12 d-flex align-items-center justify-content-center">
                                <p class="text-muted mb-0">No se encontró información académica para este usuario.</p>
                            </div>                        
                        </div>                         
                    </div>
                </div>

                {% endif %}
            </div>

        <div class="col-lg-12">
            <div class="row">
                <div id="cards" class="col-lg-6 custom-card">
                    <div class="card mb-4 mt-4">
                        <div class = "titulo3">
                            <h4 id="titulo3" class="mb-3 mt-3">Competencias</h4>    
                        </div>
                        {% if compesuser %}             
                            {% for compesuser in compesuser.all %}
                                <ul class="list-group list-group-flush rounded-3">
                                    <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                        <i class="fa-solid fa-award" style="color: rgb(201, 188, 18)"></i>
                                        <div class="col-sm-12 d-flex align-items-center justify-content-start">
                                            <h6 id="titulo2" class="mb-0">{{ compesuser.fk_id_competencia.nombre_competencia|title }}&nbsp;&nbsp;-&nbsp;&nbsp;  Nivel: {{ compesuser.nivel }} &nbsp;&nbsp;&nbsp;&nbsp;</h6>
                                        </div>                            
                                    </li>         
                                </ul>                                                            
                            {% endfor %}
                        {% else %}
                            <ul class="list-group list-group-flush rounded-3">
                                <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                    <i class="fa-solid fa-award" style="color: rgb(201, 188, 18)"></i>
                                    <h6 id="titulo2" class="mb-0 align-self-center">No registra competencias</h6>                      
                                </li>         
                            </ul>   
                        {% endif %}  
                    </div>
                </div>
                
                <div id="cards" class="col-lg-6 custom-card">
                    <div class="card mt-4 mb-4">
                        <div class="titulo3">
                            <h4  class="mb-3 mt-3">Idiomas</h4>    
                        </div>         
                        {% if idiouser %}
                            {% for idiouser in idiouser %}
                                <ul class="list-group list-group-flush rounded-3">
                                    <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                        <i class="fa-solid fa-earth-americas" style="color: rgb(201, 188, 18)"></i>
                                        <div class="col-sm-12 d-flex align-items-center justify-content-start">
                                            <h6 id="titulo2" class="align-self-center mb-0">{{ idiouser.fk_id_idioma.nombre_idioma|title }}  &nbsp;&nbsp;-&nbsp;&nbsp;  Nivel: {{ idiouser.nivel }}</h6>
                                        </div>                            
                                    </li>         
                                </ul>                                       
                            {% endfor %}
                        {% else %}
                            <ul class="list-group list-group-flush rounded-3">
                                <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                    <i class="fa-solid fa-earth-americas" style="color: rgb(201, 188, 18)"></i>
                                    <h6 id="titulo2" class="mb-0 align-self-center">No registra idiomas</h6>                             
                                </li>         
                            </ul>
                        {% endif %} 
                    </div>
                </div>

            <div id="cards" class="col-lg-6 custom-card">
                <div class="card mt-4  mb-4">
                    <div class="titulo3">
                        <h4  class="mb-3 mt-3">Habilidades</h4>    
                    </div>      
                    {% if habiuser %}
                        {% for habiuser in habiuser %}
                            <ul class="list-group list-group-flush rounded-3">
                                <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                    <i class="fa-solid fa-star" style="color: rgb(201, 188, 18)"></i>
                                    <div class="col-sm-12 d-flex align-items-center justify-content-start">
                                        <h6 id="titulo2" class="align-self-center mb-0"></h6>
                                    </div>                            
                                </li>         
                            </ul>                                       
                        {% endfor %}
                    {% else %}
                        <ul class="list-group list-group-flush rounded-3">
                            <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                <i class="fa-solid fa-star" style="color: rgb(201, 188, 18)"></i>
                                <h6 id="titulo2" class="mb-0 align-self-center">No registra habilidades</h6>                        
                            </li>         
                        </ul>                             
                    {% endif %}
                </div>
            </div>

                <div id="cards" class="col-lg-6 custom-card">
                    <div class="card mt-4  mb-4">
                        <div class = "titulo3">
                            <h4  class="mb-3 mt-3">Logros académicos</h4>    
                        </div>      
                        {% if logros %}
                            {% for logro in logros %}
                                <ul class="list-group list-group-flush rounded-3">
                                    <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                        <i class="fa-solid fa-graduation-cap" style="color: rgb(201, 188, 18)"></i>
                                        <div class="col-sm-12 d-flex align-items-center justify-content-start">
                                            <h6 id="titulo2" class="align-self-center mb-0">{{ logro.fk_id_logro_academico.nom_logro|title }}</h6>
                                        </div>                            
                                    </li>         
                                </ul>                                       
                            {% endfor %}
                        {% else %}
                            <ul class="list-group list-group-flush rounded-3">
                                <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                    <i class="fa-solid fa-graduation-cap" style="color: rgb(201, 188, 18)"></i>
                                    <h6 id="titulo2" class="mb-0 align-self-center">No registra logros académicos.</h6>                        
                                </li>         
                            </ul>                             
                        {% endif %}
                    </div>
                </div>

            </div>
        </div>






    </div>
</section>





{% endblock %}