{% extends 'layout2.html' %}

{% load static %}

{% block content %}

<!-- INICIO FORMULARIO EXPERIENCIA -->

<section>
    <br>
    <h2 style="color: #000;">Mi Perfil</h2>
        <div class="row">
            <div class="col-md-12">
                <form method="POST" action="" id="formularioPerfilCompe">
                    {% csrf_token %}
                <div class="card mb-4">
                    <div class="card-body text-center">
                    <h3 id="tituloCard1">Competencias</h3>
                        <div class="row">
                            <div class="col-md-12">
                                {% if competencias %}
                                    {% for competencia in competencias %}
                                    - {{ competencia.fk_id_competencia.nombre_competencia }}
                                    {% endfor %}
                                {% else %}
                                    <p>No tienes ninguna competencia registrada</p>
                                {% endif %}
                                <div class="col-auto">
                                    <input class="btn btn-custom" id="enviarPerfilExp" data-bs-toggle="modal" data-bs-target="#compeModal" value="Agregar">
                                </div>
                            </div>
                            {% include 'popup_competencias.html' %}
                        </div>
                    </div>
                </div>
<!-- BOTON ENVIAR FORMULARIO -->
                </form>
<!-- FIN FORMULARIO GENERAL -->
            </div>
        </div>
</section>
<br>
<section>
    <div class="row">
        <div class="col-md-12">
            <form method="POST" action="" id="formularioPerfilCompe">
                {% csrf_token %}
            <div class="card mb-4">
                <div class="card-body text-center">
                <h3 id="tituloCard1">Habilidades</h3>
                    <div class="row">
                        <div class="col-md-12">
                            {% if habilidades %}
                                {% for habilidad in habilidades %}
                                - {{ habilidad.fk_id_habilidad.nombre_habilidad }}
                                {% endfor %}
                            {% else %}
                                <p>No tienes ninguna habilidad registrada</p>
                            {% endif %}
                            <div class="col-auto">
                                <input class="btn btn-custom" id="enviarPerfilExp" data-bs-toggle="modal" data-bs-target="#habiModal" value="Agregar">
                            </div>
                        </div>
                        {% include 'popup_habilidades.html' %}
                    </div>
                </div>
            </div>
<!-- BOTON ENVIAR FORMULARIO -->
            </form>
<!-- FIN FORMULARIO GENERAL -->
        </div>
    </div>
<!-- FIN ESTRUCTURA FORMULARIO GENERAL -->
</section>
<br>
<section>
    <div class="row">
        <div class="col-md-12">
            <form method="POST" action="" id="formularioPerfilCompe">
                {% csrf_token %}
            <div class="card mb-4">
                <div class="card-body text-center">
                <h3 id="tituloCard1">Idiomas</h3>
                    <div class="row">
                        <div class="col-md-12">
                            {% if idiomas %}
                                {% for idioma in idiomas %}
                                    - {{ idioma.fk_id_idioma.nombre_idioma }}
                                {% endfor %}
                            {% else %}
                                <p>No tienes ningun idioma registrado</p>
                            {% endif %}
                            <div class="col-auto">
                                <input class="btn btn-custom" id="enviarPerfilExp" data-bs-toggle="modal" data-bs-target="#idiModal" value="Agregar">
                            </div>
                        </div>
                        {% include 'popup_idiomas.html' %}
                    </div>
                </div>
            </div>
<!-- BOTON ENVIAR FORMULARIO -->
            </form>
<!-- FIN FORMULARIO GENERAL -->
        </div>
    </div>
<!-- FIN ESTRUCTURA FORMULARIO GENERAL -->
</section>
<br>
<section>
    <div class="row">
        <div class="col-md-12">
            <form method="POST" action="" id="formularioPerfilCompe">
                {% csrf_token %}
            <div class="card mb-4">
                <div class="card-body text-center">
                <h3 id="tituloCard1">Educación</h3>
                    <div class="row">
                        <div class="col-md-12">
                            {% if educaciones %}
                                {% for educacion in educaciones %}
                                    Institución: - {{ educacion.fk_id_institucion.nombre_institucion }}
                                    Título: - {{ educacion.fk_id_titulo.nombre_titulo }}
                                    Formación: - {{ educacion.fk_id_formacion.tipo_formacion }}
                                {% endfor %}
                            {% else %}
                                <p>No tienes datos registrados acerca de tu educación</p>
                            {% endif %}
                            <div class="col-auto">
                                <input class="btn btn-custom" id="enviarPerfilExp" data-bs-toggle="modal" data-bs-target="#educModal" value="Agregar">
                            </div>
                        </div>
                        {% include 'popup_educacion.html' %}
                    </div>
                </div>
            </div>
<!-- BOTON ENVIAR FORMULARIO -->
            </form>
<!-- FIN FORMULARIO GENERAL -->
        </div>
    </div>
<!-- FIN ESTRUCTURA FORMULARIO GENERAL -->
</section>
<br>
<!-- FIN FORMULARIO EXPERIENCIA -->

</section>
<br>
<section>
    <div class="row">
        <div class="col-md-12">
            <form method="POST" action="" id="formularioPerfilCompe">
                {% csrf_token %}
            <div class="card mb-4">
                <div class="card-body text-center">
                <h3 id="tituloCard1">Logros académicos</h3>
                    <div class="row">
                        <div class="col-md-12">
                            Logro:
                            {% if logros %}
                                {% for logro in logros %}
                                    - {{ logro.fk_id_logro_academico.nom_logro }}
                                {% endfor %}
                            {% else %}
                                <p>No tienes ningun logro registrada</p>
                            {% endif %}
                            <div class="col-auto">
                                <input class="btn btn-custom" id="enviarPerfilExp" data-bs-toggle="modal" data-bs-target="#logroModal" value="Agregar">
                            </div>
                        </div>
                        {% include 'popup_logros.html' %}
                    </div>
                </div>
            </div>
<!-- BOTON ENVIAR FORMULARIO -->
            </form>
<!-- FIN FORMULARIO GENERAL -->
        </div>
    </div>
<!-- FIN ESTRUCTURA FORMULARIO GENERAL -->
</section>

<br>
<section>
    <div class="row">
        <div class="col-md-12">
            <form method="POST" action="" id="formularioPerfilCompe">
                {% csrf_token %}
            <div class="card mb-4">
                <div class="card-body text-center">
                <h3 id="tituloCard1">Experiencias laborales</h3>
                    <div class="row">
                        <div class="col-md-12">
                            {% if experiencias %}
                                {% for experiencia in experiencias %}
                                    Cargo: {{ experiencia.fk_id_tipo_cargo.nom_cargo }} |
                                    Tipo empleo: {{ experiencia.fk_id_tipo_empleo.nom_tipo_empleo }} |
                                    Modalidad: {{ experiencia.fk_id_modalidad.nom_modalidad }}
                                {% endfor %}
                            {% else %}
                                <p>No tienes ninguna experiencia laboral registrada</p>
                            {% endif %}
                            <div class="col-auto">
                                <input class="btn btn-custom" id="enviarPerfilExp" data-bs-toggle="modal" data-bs-target="#expModal" value="Agregar">
                            </div>
                        </div>
                        {% include 'popup_experiencias.html' %}
                    </div>
                </div>
            </div>
<!-- BOTON ENVIAR FORMULARIO -->
            </form>
<!-- FIN FORMULARIO GENERAL -->
        </div>
    </div>
<!-- FIN ESTRUCTURA FORMULARIO GENERAL -->
</section>
<!-- FIN FORMULARIO EXPERIENCIA -->

<br>
<section>
    <div class="row">
        <div class="col-md-12">
            <form method="POST" action="" id="formularioPerfilCompe">
                {% csrf_token %}
            <div class="card mb-4">
                <div class="card-body text-center">
                <h3 id="tituloCard1">Dirección</h3>
                    <div class="row">
                        <div class="col-md-12">
                            {% if usuarios %}
                                {% for usuario in usuarios %}
                                    {{ usuario.fk_id_direccion.nombre_calle }}
                                    #{{ usuario.fk_id_direccion.numeracion }},
                                    {{ usuario.fk_id_direccion.fk_d_comuna.nom_comuna }}
                                {% endfor %}
                            {% else %}
                                <p>No tienes ninguna dirección registrada</p>
                            {% endif %}
                            <div class="col-auto">
                                <a class="btn btn-primary mr-2" type="button" href="{% url 'register' %}"></i>Editar</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
<!-- BOTON ENVIAR FORMULARIO -->
            </form>
<!-- FIN FORMULARIO GENERAL -->
        </div>
    </div>
<!-- FIN ESTRUCTURA FORMULARIO GENERAL -->
</section>

<div class="col-auto">
    <a class="btn btn-primary mr-2" type="button" href="{% url 'perfil_educacion' %}"></i>Continuar</a>
</div>
<br>
<!-- FIN FORMULARIO EXPERIENCIA -->


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="{% static 'js/validacionPerfilPers.js' %}"></script>
{% endblock %}