{% load static %}

{% block content %}
<!-- Modal -->
<div class="modal" id="expModal" tabindex="-1" aria-labelledby="expModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="POST" action="" id="formularioPerfilExp">
                <div class="modal-body">
                {% csrf_token %}
                    <div class="card mb-4">
                        <div class="card-body text-center">
                        <h3 id="tituloCard1">Experiencia laboral</h3>
                            <div class="row text-left">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label for="nombre_empleo" style="color: #003e77;">Empleo:</label>
                                        <input type="text" class="form-control" name="nombre_empleo" id="nombre_empleo" placeholder="Ej: administrador de sistemas" required/>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="fecha_inicio_exp" style="color: #003e77;">Inicio exp:</label>
                                        <input type="text" class="form-control" name="fecha_inicio_exp" id="fecha_inicio_exp" placeholder="Ej: 2020" required pattern="\d{4}-\d{2}-\d{2}"/>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="fecha_termino_exp" style="color: #003e77;">Término exp:</label>
                                        <input type="text" class="form-control" name="fecha_termino_exp" id="fecha_termino_exp" placeholder="Ej: 2023" required pattern="\d{4}-\d{2}-\d{2}"/>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label for="descripcion" style="color: #003e77;">Descripción:</label>
                                        <textarea class="form-control" name="descripcion" id="descripcion" required placeholder="Ingrese una descripción..."></textarea>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="{{ exps_form.fk_id_tipo_empleo.id_for_label }}" style="color: #003e77;">Tipo empleo:</label>
                                        {{ exps_form.fk_id_tipo_empleo }}
                                    </div>
                                </div>

                                <div class="col-lg-4" style="display: none;">
                                    <div class="form-group">
                                        <label for="{{ exps_form.fk_id_usuario.id_for_label }}" style="color: #003e77;">ID Usuario</label>
                                        <input type="text" class="form-control" name="fk_id_usuario" id="fk_id_usuario" readonly value="{{ request.user.id }}">
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="{{ exps_form.fk_id_modalidad.id_for_label }}" style="color: #003e77;">Modalidad:</label>
                                        {{ exps_form.fk_id_modalidad }}
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="{{ exps_form.fk_id_comuna.id_for_label }}" style="color: #003e77;">Comuna:</label>
                                        {{ exps_form.fk_id_comuna }}
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="{{ exps_form.fk_id_tipo_cargo.id_for_label }}" style="color: #003e77;">Tipo cargo:</label>
                                        {{ exps_form.fk_id_tipo_cargo }}
                                    </div>
                                </div>
                            </div>
                        <div class="col-4" style="display: grid; margin: auto;">
                            <input type="submit" class="btn btn-custom" id="enviarPerfilExp" value="Guardar" >
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
  </div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="{% static 'js/validacionPopupExperiencias.js' %}"></script>
{% endblock %}