{% load static %}

{% block content %}
<!-- Modal -->
<div class="modal fade" id="ofertaModal" tabindex="-1" aria-labelledby="ofertaModal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content" id="formularioOfert">
            <form action="" method="POST" id="formularioOfert">
                <div class="modal-body">
                    {% csrf_token %}
                    <div class="card mb-4">
                        <div class="card-body text-center">
                            <h4 id="tituloCard1">Idioma</h4>
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label for="{{ compeofe_form.fk_id_oferta.id_for_label }}">Id oferta</label>
                                        {{ compeofe_form.fk_id_oferta }}
                                    </div>      
                                </div>
                                <div class="col-lg-4">                                  
                                    <div class="form-group">
                                        <label for="{{ compeofe_form.fk_id_competencia.id_for_label }}">Competencia</label>
                                        {{ compeofe_form.fk_id_competencia }}
                                    </div>    
                                </div>
                            </div>
                        </div>
                        <div class="col-auto">
                            <input type="submit" class="btn btn-custom" id="enviarPerfilExp" value="Guardar" >
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
  </div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<!-- <script src="{% static 'js/validacionPerfilExp.js' %}"></script> -->
{% endblock %}