{% extends 'layout.html' %}
<!-- Como se muestra arriba es como se carga parte del codigo, en esta hoja solo se trabajaria el body -->

{% load static %}

{% block content %}



<br>

<section class="text-center text-lg-start">
  <style>
    #titulo {
      font-size: 90px;
      text-align: center;
      color: #003e77;
      font-family: 'fellows';
    }

    .rounded-t-5 {
      border-top-left-radius: 40px;
      border-top-right-radius: 40px;
    }

    .move-right {
      transform: translateX(1cm);
    }

    @media (min-width: 992px) {
      .rounded-tr-lg-0 {
        border-top-right-radius: 4px;
      }

      .rounded-bl-lg-5 {
        border-bottom-left-radius: 4px;
      }
    }

    #formulario {
      padding: 20px;
      background: rgb(255, 255, 255);
      color: #000000;
      box-shadow:
        0 0 10px rgba(0, 0, 0, 0.0),
        /* Sombra interna */
        0 0 20px rgba(0, 0, 0, 0.0),
        /* Sombra intermedia */
        0 0 40px rgb(173, 173, 173, 1);
      /* Sombra exterior */
      ;

      -moz-border-radius: 4px;
      -webkit-border-radius: 4px;
      border-radius: 4px;
    }

    #label {
      color: black;
    }
  </style>
  <div class="card mb-3" id="formulario">
    <div class="row g-0 d-flex align-items-center">
      <div class="col-lg-4 d-none d-lg-flex move-right" style="background-color: #003e77; width: 500px; height: 500px;">
        <img src="{% static 'imagenes/ClusterHire5.png' %}" alt=""
          class="w-100 rounded-t-5 rounded-tr-lg-0 rounded-bl-lg-5 "
          style="width: 500px; height: 350px; margin-top: 60px;" />
      </div>
      <div class="col-lg-8">
        <div class="card-body py-5 px-md-5">

          <div id="titulo">
            <h1>Registro</h1>
          </div>

          <form method="post">
            {% csrf_token %}
            <div class="form-group">
              <label for="{{ form.correo.id_for_label }}" id="label">Correo</label>
              {{ form.correo }}
            </div>

            <div class="form-group">
              <label for="{{ form.contrasenha.id_for_label }}" id="label">Contraseña</label>
              {{ form.contrasenha }}
            </div>

            <div class="form-group">
              <label for="{{ form.nombre.id_for_label }}" id="label">Nombre</label>
              {{ form.nombre }}
            </div>

            <div class="form-group">
              <label for="{{ form.primer_apellido.id_for_label }}" id="label">Apellido(s)</label>
              {{ form.primer_apellido }}
            </div>

            <div class="form-group">
              <label for="{{ form.telefono.id_for_label }}" id="label">Telefono</label>
              {{ form.telefono }}
            </div>

            <button class="btn btn-primary registrar-button" type="submit" name="registro"
              value="Registrarse">Registrarse</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>




{% endblock %}