{% extends 'layout.html' %}
<!-- Como se muestra arriba es como se carga parte del codigo, en esta hoja solo se trabajaria el body -->

{% load static %}

{% block content %}
<br>



<!-- <div id= "titulo">
    <h1>
    Nueva oferta
    </h1>
</div> -->

<!-- <div class="container">
    <a href="#" class="btn btn-danger">Volver</a>
</div> -->

<br>

<div class="container-fluid">
  <form name="registration" id="formulario">
    <div class="row" id="row">
      <div class="col-md-6" id="izq">
        <div class="container-fluid">
          <img src="{% static 'imagenes/ClusterHire5.png' %}" alt="" id="logoLogin">
        </div>
      </div>
      <div class="col-md-6">
        <div id="titulo">
          <h3>Registro</h3>
        </div>

        <div class="form-group">
          <label for="Correo">Correo</label>
          <input type="email" class="form-control form-control-sm" id="Correo" aria-describedby="emailHelp">
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>

        <div class="form-group">
          <label for="Contraseña">Contraseña</label>
          <input type="password" class="form-control form-control-sm" id="Contraseña">
        </div>

        <div class="form-group">
          <label for="Nombre">Nombre</label>
          <input type="text" class="form-control form-control-sm" id="Nombre">
        </div>

        <div class="form-group">
          <label for="Apellido">Apellido(s)</label>
          <input type="text" class="form-control form-control-sm" id="Apellido">
        </div>

        <div class="form-group">
          <label for="Telefono">Telefono</label>
          <input type="text" class="form-control form-control-sm" id="Telefono">
        </div>

        <button class="btn btn-primary registrar-button" type="submit">Registrarse</button>
      </div>

    </div>
  </form>
</div>




{% endblock %}