{% load static %}

<!-- Navbar o parte superior de la pagina, parte del codigo lo deje por si a caso, hay que arreglar cosas -->

<!-- Image and text -->
<nav class="navbar" style="background-color: #003e77;">
  <a class="navbar-brand" href="#">
    <img src="{% static 'imagenes/logo.png' %}" height="50" class="d-inline-block align-top" alt="">
  </a>
  <div class="ml-auto"> <!-- Agregamos la clase ml-auto para alinear a la derecha -->
    <a class="btn btn-primary mr-2" type="button">Iniciar Sesión </a>
    <a class="btn btn-primary" type="button">Registrarse </a>
  </div>
</nav>
