{% extends 'layout.html' %}

{%block content%}

<!-- <div class="center">
	<form method="post" class="card">
	  {% csrf_token %}
	  <h2>Contraseña reestablecida</h2>
	  
	  {% for field in form %}
	    		{{ field.label_tag }} 
	        	{{ field }}
	        	{% if field.errors %}
	        		<small>{{ field.errors|striptags  }}</small> 
	        	{% endif %}
		{% endfor %}
	  
	  <div>
	    <button type="submit" class="btn btn-primary">Reestablecer contraseña</button>
	  </div>
	</form>
</div> -->



<style>
	#titulo {
		font-size: 60px;
		text-align: center;
		color: #003e77;
		font-family: 'fellows';
	}

	#formulario {
		padding: 20px;
		background: rgb(255, 255, 255);
		color: #000000;
		box-shadow:
			0 0 10px rgba(0, 0, 0, 0.0),
			/* Sombra interna */
			0 0 20px rgba(0, 0, 0, 0.0),
			/* Sombra intermedia */
			0 0 40px rgb(173, 173, 173, 1);
		/* Sombra exterior */
		;

		-moz-border-radius: 4px;
		-webkit-border-radius: 4px;
		border-radius: 4px;
	}
</style>

<br>


<br>

<div class="container-fluid">
	<div class="row justify-content-center">
		<div class="col-md-6">
			<form method="post" id="formulario">
				{% csrf_token %}
				<div id="titulo">
					<h1>
						Recuperar Contraseña
					</h1>
				</div>
				<br>
				<!-- {% for field in form %}
				{{ field.label_tag }}
				{{ field }}
				{% if field.errors %}
				<small>{{ field.errors|striptags }}</small>
				{% endif %}
				{% endfor %} -->

				<label for="id_new_password1">Nueva Contraseña:</label>
				<input type="password" class="form-control" name="new_password1" autocomplete="new-password" required="" id="id_new_password1">

				<label for="id_new_password2">Repite Tu Nueva Contraseña:</label>
				<input type="password" class="form-control" name="new_password2" autocomplete="new-password" required="" id="id_new_password2">

				<br>

				<!-- Botón a la derecha con margen -->
				<div class="row">
					<div class="col">
						<!-- Columna vacía para empujar el botón hacia la derecha -->
					</div>
					<div class="col-auto">
						<button type="submit" value="Enviar" class="btn btn-primary btn-block">Cambiar Contraseña</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>


{%endblock content%}