{% extends 'layout.html' %}
<!-- Como se muestra arriba es como se carga parte del codigo, en esta hoja solo se trabajaria el body -->

{% load static %}

{% block content %}

<style>
	#titulo {
		font-size: 60px;
		text-align: center;
		color: #003e77;
		font-family: 'fellows';
	}

	#formulario {
		padding: 20px;
		background: rgb(255, 255, 255);
		color: #000000;
		box-shadow:
			0 0 10px rgba(0, 0, 0, 0.0),
			/* Sombra interna */
			0 0 20px rgba(0, 0, 0, 0.0),
			/* Sombra intermedia */
			0 0 40px rgb(173, 173, 173, 1);
		/* Sombra exterior */
		;

		-moz-border-radius: 4px;
		-webkit-border-radius: 4px;
		border-radius: 4px;
	}

	#formulario label {
		margin-left: 21px;
	}

</style>

<br>


<br>

<div class="container-fluid">
	<div class="row justify-content-center">
		<div class="col-md-6">
			<form method="post" id="formulario">
				{% csrf_token %}
				<div id="titulo">
					<h1>
						Recuperar contraseña
					</h1>
				</div>
				<br>

				<label for="id_email">Ingresa tu Email:</label>
				<input type="email" class="form-control" name="email" autocomplete="email" maxlength="254" required="" id="id_email">

				<br>
				<br>
				<div class="g-recaptcha" data-sitekey="6LfayGooAAAAAAc97Stisyr_0o6av7Z85yOMyO8t"></div>

				<!-- Botón a la derecha con margen -->
				<div class="row">
					<div class="col">
						<!-- Columna vacía para empujar el botón hacia la derecha -->
					</div>
					<div class="col-auto">
						<button type="submit" value="Enviar" class="btn btn-primary btn-block">Enviar</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>




{% endblock %}