{% extends 'layout.html' %}

{%block content%}


<style>
	#titulo {
		font-size: 60px;
		text-align: center;
		color: #003e77;
		font-family: 'fellows';
	}

	#formulario {
		padding: 20px;
		background: rgb(255, 255, 255);
		color: #000000;
		box-shadow:
			0 0 10px rgba(0, 0, 0, 0.0),
			/* Sombra interna */
			0 0 20px rgba(0, 0, 0, 0.0),
			/* Sombra intermedia */
			0 0 40px rgb(173, 173, 173, 1);
		/* Sombra exterior */
		;

		-moz-border-radius: 4px;
		-webkit-border-radius: 4px;
		border-radius: 4px;
	}
</style>

<br>


<br>

<div class="container-fluid">
	<div class="row justify-content-center">
		<div class="col-md-6">
			<form id="formulario">
				
				<div id="titulo">
					<h1>
						Recuperar contraseña
					</h1>
				</div>
				<br>
				
				<p>Tu contraseña se ha cambiado con éxito. <a href="{% url 'login' %}">Iniciar Sesión</a></p>

				
				
			</form>
		</div>
	</div>
</div>
 	
{%endblock content%}